.vs

MEC6215_DEVOIR_01_ArrayProgramming/MAIN_MONTECARLO/build_windows/*
MEC6215_DEVOIR_01_ArrayProgramming/MAIN_MONTECARLO/VTune Profiler Results/*
MEC6215_DEVOIR_01_ArrayProgramming/MAIN_MONTECARLO/workingDirectory/*

Ordinary Differential Equations/MAIN_STREAMLINE3D/workingDirectory/*
Ordinary Differential Equations/MAIN_STREAMLINE3D/build_windows/*
Ordinary Differential Equations/MAIN_SHOOTING_METHOD/workingDirectory/*