.vs

01-ArrayProgramming/MAIN_MONTECARLO/build_windows/*
01-ArrayProgramming/MAIN_MONTECARLO/VTune Profiler Results/*
01-ArrayProgramming/MAIN_MONTECARLO/workingDirectory/*

02-STREAMLINE3D/MAIN_STREAMLINE3D/workingDirectory/*
02-STREAMLINE3D/MAIN_STREAMLINE3D/build_windows/*
02-STREAMLINE3D/MAIN_SHOOTING_METHOD/workingDirectory/*

03-Heat equation/MAIN_HEAT2D/workingDirectory/*
03-Heat equation/MAIN_HEAT2D/build_windows/*
03-Heat equation/MAIN_HEAT2D/workingDirectory/*
*.vtk
*.array
02-STREAMLINE3D/Homework 2.zip
03-Heat equation/1678926_Morteza Namvar.7z
*.eps
*.png
*.pvsm
